<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sloth Monitoring</title>

		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <!-- Bootstrap Core CSS -->
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom CSS -->
	    <link href="/static/css/sb-admin.css" rel="stylesheet">

	    <!-- Custom Fonts -->
	    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/static/css/main.less" />
	</head>
	<body>
		{{{body}}}

		<!-- jQuery -->
	    <script src="/static/js/jquery.js"></script>

	    <script src="/static/js/plugins/flot/jquery.flot.js"></script>
	    <script src="/static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
	    <script src="/static/js/plugins/flot/jquery.flot.resize.js"></script>
	    <script src="/static/js/plugins/flot/jquery.flot.pie.js"></script>

	    <!-- Bootstrap Core JavaScript -->
	    <script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>