div.logpanel{
	overflow: scroll;
	height: 500px;
	background: #000;
	color: #ddd;
	font-family: "monospace";

	span.remote{
		&:before{
			content: '[';
		}
		&:after{
			content: ']';
		}
		color: #d88;
		margin-right: 4px;
	}

	span.ident {
		&:before{
			content: '[';
		}
		&:after{
			content: ']';
		}
		color: #8d8;
		margin-right: 4px;
	}

	span.message {

	}
}